img {
  width: inherit;
  height: inherit;
  display: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  margin: 30px 0;
  font-size: 25px;
}

.container {
  display: grid;
  grid: repeat(3, auto) / auto-flow;
}

.box {
  background-color: #fff;
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 0;
  border: 1px solid #000;
}

.-desappear {
  visibility: hidden;
}

.-win1::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 93px;
  left: 61px;
  height: 366px;
  border: 2px solid #f00;
}

.-win2::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 93px;
  left: 183px;
  height: 366px;
  border: 2px solid #f00;
}

.-win3::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 93px;
  left: 305px;
  height: 366px;
  border: 2px solid #f00;
}

.-win4::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: -30px;
  left: 179px;
  height: 366px;
  border: 2px solid #f00;
  rotate: 90deg;
}

.-win5::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 90px;
  left: 179px;
  height: 366px;
  border: 2px solid #f00;
  rotate: 90deg;
}

.-win6::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 212px;
  left: 179px;
  height: 366px;
  border: 2px solid #f00;
  rotate: 90deg;
}

.-win7::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 97px;
  left: 186px;
  height: 362px;
  border: 2px solid #f00;
  rotate: -45deg;
}

.-win8::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 90px;
  left: 186px;
  height: 362px;
  border: 2px solid #f00;
  rotate: 45deg;
}

.-blur {
  filter: blur(4px);
}